.box {
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
}
.box-red {
  background-color: red;
}
.box-green {
  background-color: green;
  border-radius: 50%;
}

.q9d {
  width: 300px;
  background-color: black;
  padding: 12px;
  margin-top: 16px;
}
.para-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.para {
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
}
